/* Variable directory */
:root {
  --dark: #13293d;
  --light: #fff;
  --background: #ffffff;
  --header_text: rgb(86, 150, 59);
  --contrast_text: rgb(28, 117, 47);
  --button_color: rgb(120, 195, 139);
  --button_color_active:rgb(72, 161, 94);
}

/* HEADER COMPONENT */


.header_title{
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
/* HEADER */

.logo-header{
  width: 300px;
}

.header-links{
  margin-top: 0px;
}

.logsignbttn{
  height:50px
}

.header_title_login_cart{
  display: flex;
 
}

.cart_icon_testblank{
  background-image: url("./images/cart_icon.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* NAVBAR  */
.nav-list{
  display: flex;
  align-items: center;
  background-color: #333;
  color:rgb(42, 147, 0);
  width: 100%;
}

.nav-list a :active :hover{
  color: rgb(32, 102, 4);
}

.nav-list a :visited{
  color: inherit;
}

.nav-list ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
  list-style: none;
}

/* ALL PAGES */
.projects-container, .disclaimers-container{
 padding: 0 5% 0 5%;
}

/* Sign-LogIn Page */

.form-bttn{
  padding: 5px 0 5px 0;
}

/* HOMEPAGE */

.homepage-container{
  display: flex;
  justify-content: center;
  width: 100%
}

.homepage-sub-container-1, .homepage-sub-container-2{
  padding:0  5% 0 5%;
  width: 40%
}

.homepage-main-img{
  padding-top:10px;
  width: stretch
}

.homepage-shopnowbttn{
  width:200px
}

/* CONTACT PAGE */
.contact-container{
  display: flex;
  justify-content: center;
  width: 100%
}

.contact-sub-container-1, .contact-sub-container-2{
  padding:0  5% 0 5%;
  width: 40%
}

.contact-main-img{
  padding-top:10px;
  width: stretch
}


/* SHOP PAGE */

.product-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* PRODUCT CARDS */

.product-card{
  width: 300px;
  height: 500px;
  padding: 0 30px 0 30px;
}

/* INDIVDUAL PRODUCT PAGE */

.product-page-description{
  padding: 10px 20px 0 20px;
}

.product-page-top-strip{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-top: 10px;
}

.product-page-box-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 15% 0 15%;
}

.product-page-optionsbox{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0 15px 0 15px;
}

@media screen and (max-width: 2500px) {
  .product-page-img-main{
    width:600px;
    height:auto;
  }
  }

  @media screen and (max-width: 1000px) {
    .product-page-img-main{
      width:450px;
      height:stretch;
    }
    }

@media screen and (max-width: 520px) {
  .product-page-img-main{
    width:200px;
    height:stretch;
  }
}  


/* Link fottating */

.nav-list a:hover{
  padding:5px;
  background-color: var(--button_color);
  border-radius: 15px 6px 15px;
  transform: skew(-25deg);
  text-decoration: none;
}
.nav-list a:link{
  padding:5px;
  font-size: 110%;
  color: var(--header_text);
  text-decoration: none;
}
 a:link{
  padding:5px;
  font-size: 110%;
  color: var(--header_text);
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:visited{
  padding:5px;
  font-size: 110%;
  color: var(--header_text);
  text-decoration: none;
}
/* Footer */
footer{
  width:100%;
  background-color: var(--background);
  padding-top:37px;
}
.container{
  text-align: center;
  border-top:3px var(--button_color) solid;
  padding: 15px;
}
.footer-text{
  font-size: 12px;
}
nav {
  text-decoration: none;
}
/* Resizing page */
@media screen and (max-width: 980px) {
  .card, .card img[src$=".png"]{
    max-width: 20rem;
  }
  }

@media screen and (max-width: 520px) {
  .card, .card img[src$=".png"]{
    max-width: 15rem;
  }


}